/* .contain {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "t5 t6 t7 t8 t9"
      "t4 t19 t20 t21 t10"
      "t3 t18 t25 t22 t11"
      "t2 t17 t24 t23 t12"
      "t1 t16 t15 t14 t13"; 
  }
  #t1 { grid-area: t1; }
  #t2 { grid-area: t2; }
  #t3 { grid-area: t3; }
  #t4 { grid-area: t4; }
  #t5 { grid-area: t5; }
  #t6 { grid-area: t6; }
  #t7 { grid-area: t7; }
  #t8 { grid-area: t8; }
  #t9 { grid-area: t9; }
  #t10 { grid-area: t10; }
  #t11 { grid-area: t11; }
  #t12 { grid-area: t12; }
  #t13 { grid-area: t13; }
  #t14 { grid-area: t14; }
  #t15 { grid-area: t15; }
  #t16 { grid-area: t16; }
  #t17 { grid-area: t17; }
  #t18 { grid-area: t18; }
  #t19 { grid-area: t19; }
  #t20 { grid-area: t20; }
  #t21 { grid-area: t21; }
  #t22 { grid-area: t22; }
  #t23 { grid-area: t23; }
  #t24 { grid-area: t24; }
  #t25 { grid-area: t25; } */

/* 
.t1 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr1 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t2 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr2 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t3 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr3 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t4 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr4 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t5 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr5 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t6 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr6 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t7 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr7 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t8 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr8 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t9 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr9 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t10 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr10 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t11 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr11 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t12 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr12 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
} */