.t1 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr1 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t2 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr2 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t3 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr3 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t4 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr4 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t5 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr5 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t6 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr6 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t7 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr7 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t8 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr8 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t9 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr9 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t10 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr10 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t11 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr11 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}
.t12 {
    content: url('./img/tfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem
}
.tr12 {
    content: url('./img/tnotfree.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5rem
}